<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ajax_test</title>
</head>
<script src='{% static "js/jquery.js" %}'></script>
<script>
    $.ajax({
        url: '/ajax_test/',
        method: "post",
        contentType: "application/json",
        data:JSON.stringify({name: $('#first').val(), age: $('#second').val()}),
        success: function (data) {
            console.log(data)
            $("#result").val(data)
        },
        error: function (error) {
            console.log(error)
        }
    })
</script>
<input type="text" id="first"> + <input type="text" id="second"> = <input type="text" id="result">
<p><button id="btn">计算结果</button></p>
<body>
</body>
</html>